* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #FEFFCB;
    font-family: sans-serif;
}

/* navbar styles */
/* logo */
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header img{
    width: 90px;
    height: 90px;
    cursor: pointer;
    margin-right: auto;
}
.nav-bg-container{
    background-image: linear-gradient(to bottom, #FFD939AA,#FEFFCB88), url("../images/puppy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

/* adopt, donation, sponsor nav links */
.nav_links{
    margin-right: 10px;
}
.nav_links li{
    list-style: none;
    display: inline-block;
}
.nav_links a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 14px;
    color: #fff;  /* blue:040CB3 purple: 6315B3*/
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: 0.5s;
}
.nav_links a:hover{
    color: #040CB3;
    opacity: 90%;
}

/* login/signup buttons */
.userlogins {
    margin-right: 15px;
}
header button{
    text-decoration: none;
    border: none;
    border-radius: 20px;
    margin: 0px 3px;
    background-color: #040CB3;
    cursor: pointer;
	font-size: 12px;
	font-weight: bold;
    color: #fff;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: 0.5s;
}
header button:hover{
    background-color: #186ED6;
    opacity: 95%;
}


/* popup login window */
.popup.lg{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    width: 300px;
    padding: 20px;
    height: auto;
    transform: translate(-50%, -50%) scale(1.25);
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.popup.su{
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    width: 300px;
    padding: 20px;
    height: auto;
    transform: translate(-50%, -50%) scale(1.25);
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.popup .close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    text-align: center;
    background: #888888;
    color: #eeeeee;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .login-form h2{
    text-align: center;
    font-family: sans-serif;
    margin: 10px 0px 20px;
}
.popup .login-form .form-element{
    margin: 15px 0px;
}
.popup .login-form .form-element input[type='email'],
.popup .login-form .form-element input[type='password']{
    margin-top: 5px;
    display: block;
    padding: 5px;
    width: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}
.popup .login-form .form-element input[type='checkbox']{
    margin-right:5px;
}
.popup .login-form .form-element button{
    text-decoration: none;
    border: none;
    border-radius: 20px;
    background-color: #040CB3;
    cursor: pointer;
	font-size: 12px;
	font-weight: bold;
    color: #fff;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
    transition: 0.5s;
    /* centering button */
    margin: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.popup .login-form .form-element a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

/* banner styles */

/*
.image-container{
    display: flex;
    justify-content: center;
    background-color: #FFD939;
    width: 50%;
    margin: 10px 0px;
    margin-left: 20px;
    border-radius: 20px;
}
.bannerpic{
	height: 500px;
	width: auto;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
}

.bannerlink{
	margin: 80px 20px 0 0;
    height: inherit;
	padding-top: 16px;
	color: #383838;
	text-transform: uppercase;
	border-top: 10px double #A82810;
	border-bottom: 10px double #A82810;
}

.bannerlink h1{
	font-size: 74px;
    text-align: center;
}

.bannerlink p{
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	padding: 20px 0;
}

.bannerlink a{
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	text-align: center;
	height: 50px;
	background-color: #E74C3C;
    transition-duration: 0.4s;
}

.bannerlink a:hover{
	background-color: #A01607;
	transform: scale(1.25,1.25);
}

.bannerlink img{
	height: 100%;
	width: auto;
} */

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    style= margin-top: 80px;
    border-top: 1px solid;
}
